* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #efefef;
}

#productList {
  padding: 0;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  gap: 30px;
}

#productList button {
  width: 100px;
  height: 30px;
  background-color: #2c2c2c;
  color: #fff;
  border: none;
  border-radius: 10px;
}

#filters {
  margin: 10px 0 0 10px;
} 

#productList img {
  border-radius: 10px;
}
/* Common styling for all products */
.product-item {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Specific styling for product with id 1 */
.product-1 {
  border: 2px solid #ff0000;
}

/* Specific styling for product with id 2 */
.product-2 {
  border: 2px solid #00ff00;
}

